<foreach name="post_list" item="vo">
    <li>
        <div class="blogMain">

            <div class="blogCon">
                <a href="__ROOT__/post/{$vo.id}">
                    <img src="__PUBLIC__/images/pic2.jpg" alt="" height="" width="">
                </a>
            </div>
            <p class="blogTit"><a href="__ROOT__/post/{$vo.id}">{$vo.title}</a>
            </p>
        </div>
        <div class="blogACBox clearfix">
            <p class="blogAuthor">
                <a class="authorHead">
                    <img src="__PUBLIC__/images/userS.jpg" alt="" height="" width="">
                </a>
                <a class="authorName">{:W('My/getUserVal',array($vo['user_id'],'aliasname'))}</a>
            </p>

        </div>
        <div class="blogDate clearfix">
            <p class="blogAc">
                <a class="zan">赞({:W('My/postFavoritesCount',array($vo["id"],2))}) </a>
                <a class="shoucang">收藏({:W('My/postFavoritesCount',array($vo["id"],1))})</a>
                <a class="comment">评论({:W('My/postCommentCount',array($vo["id"]))})</a>
            </p>
        </div>
    </li>
</foreach>
