<foreach name="post_list" item="vo">
    <li>
        <div class="blogMain">

            <if condition="$vo.has_picture eq 2">
                <div class="blogCon">
                    <a href="__ROOT__/post/{$vo.id}">
                        <img src="{:W('My/getImgByPostId',array($vo['id']))}" alt="" height="" width="">
                    </a>
                </div>
                <p class="blogTit"><a href="__ROOT__/post/{$vo.id}">{$vo.title}</a>
                </p>
                <else/>
                <p class="blogTit"><a href="__ROOT__/post/{$vo.id}">{$vo.title}</a>
                </p>
                <div class="blogCon">
                    <a href="__ROOT__/post/{$vo.id}">
                        <span class="conTxt">{$vo.content|htmlspecialchars_decode}</span>
                    </a>
                </div>
            </if>
        </div>
        <div class="blogACBox clearfix">
            <p class="blogAuthor">
                <a class="authorHead" >
                    <img src="__PUBLIC__/{:W('My/getUserVal',array($vo['user_id'],'header_img'))}" alt="" height="26" width="26">
                </a>
                <a class="authorName">{:W('My/getUserVal',array($vo['user_id'],'aliasname'))}</a>
            </p>

        </div>
        <div class="blogDate clearfix">
            <p class="blogAc">
                <a class="zan {:W('My/postFavoritesHave',array($vo["id"],2))}" post_id="{$vo.id}">
                赞({:W('My/postFavoritesCount',array($vo["id"],2))})</a>
                <a class="shoucang {:W('My/postFavoritesHave',array($vo["id"],1))}" post_id="{$vo.id}">
                收藏({:W('My/postFavoritesCount',array($vo["id"],1))})</a>
                <a class="comment" post_id="{$vo.id}">评论({:W('My/postCommentCount',array($vo["id"]))})</a>
            </p>
        </div>
    </li>
</foreach>
