<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="./Public/common/meta.html" />
</head>
<body>


	<div class="xsWrap">

		<div class="colorBox">
			<ul class="cateColorList">
				<li class="colorBox photoBox"><a class="colorLi" href="#"><span class="xsIcon icon_photo"></span><span class="xsIconTxt">摄影</span></a></li>
				<li class="colorBox beautyBox"><a class="colorLi" href="#"><span class="xsIcon icon_beauty"></span><span class="xsIconTxt">美妆服饰</span></a></li>
				<li class="colorBox foodBox"><a class="colorLi" href="#"><span class="xsIcon icon_food"></span><span class="xsIconTxt">美食</span></a></li>
				<li class="colorBox sportBox"><a class="colorLi" href="#"><span class="xsIcon icon_sport"></span><span class="xsIconTxt">运动</span></a></li>
				<li class="colorBox techBox"><a class="colorLi" href="#"><span class="xsIcon icon_tech"></span><span class="xsIconTxt">科技生活</span></a></li>
				<li class="midBox">
					<p class="logoBox"><a href="#" class="logoImg logoL"></a></p>
					<div class="midReg">
						<div class="midForm"><input type="text" class="midInput" placeholder="请输入注册邮箱"><a class="btnA" href="#">注册</a><a class="midlog" href="javascript:open_login();">登录</a></div>
						<!-- <p class="formTip"><span class="xsIcon icon_wrong"></span>邮箱格式错误</p> -->
					</div>
				</li>				
				<li class="colorBox gameBox"><a class="colorLi" href="#"><span class="xsIcon icon_game"></span><span class="xsIconTxt">游戏</span></a></li>
				<li class="colorBox homeBox"><a class="colorLi" href="#"><span class="xsIcon icon_home"></span><span class="xsIconTxt">家居设计</span></a></li>
				<li class="colorBox petBox"><a class="colorLi" href="#"><span class="xsIcon icon_pet"></span><span class="xsIconTxt">宠物</span></a></li>
				<li class="colorBox musicBox"><a class="colorLi" href="#"><span class="xsIcon icon_music"></span><span class="xsIconTxt">音乐</span></a></li>
				<li class="colorBox carBox"><a class="colorLi" href="#"><span class="xsIcon icon_car"></span><span class="xsIconTxt">汽车</span></a></li>



			</ul>

		</div>


	</div>

	<include file="./Public/common/openWindows.html"/>
	
	<script type="text/javascript">
		function open_login(){
			$(".mask").show();
			$(".xsLoginLayer").show();
		}
		function login(){
			var username = $("input[name=username]").val();
			var password = $("input[name=password]").val();
			if(username==null || username==""){
				alert("用户名不能为空！");
				return;
			}
			if(password==null || password==""){
				alert("密码不能为空！");
				return;
			}
			$.post("__ROOT__/?m=admin&c=user&a=login",{'username':username,'password':password},function(data){
				 //alert(data.success);
				 if (data.success){

				 };//undo 
				 location.href='__ROOT__?m=category';
			})
		}
	</script>

</body>
</html>
