<if condition="$useInfo">
    <if condition="$album_list eq null">
        <li>
            <a class="albumAddBox" href="__ROOT__/album/add?cate={$category_id}">
                <span class="albumAdd"></span>
                <p class="albumAddTxt">添加专辑</p>
            </a>
        </li>
    </if>
</if>

<foreach name="album_list" item="vo">
    <li>
        <div class="albumMain">
            <a class="albumImgBox" href="__ROOT__/album/{$vo.id}">
                {:W('My/getImg4Album',array($vo['id']))}
            </a>
        </div>
        <div class="albumACBox clearfix">
            <p class="albumTit">
                <a class="albumName" href="__ROOT__/album/{$vo.id}">{$vo.name}</a>
            </p>
            <p class="albumAtt"><a class="btnC" href="##" album_id='{$vo.id}'>关注</a>
            </p>
        </div>
    </li>
</foreach>
