<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtmBox">
<head>
<include file='./Public/common/meta.html' />
</head>

<body>


	<div class="xsWrap">
		<!-- 顶导 -->
		<include file='./Public/common/header.html' />
		<!-- /顶导 -->
		<!-- main -->
		<div class="mainBox clearfix">

			<!-- 搜索nav -->
			<div class="searchNav">
				<div class="searchFbox clearfix">
					<div class="navSearBox"><input type="text" placeholder="请输入关键字" class="navSearInput"><span class="xsIcon icon_search"></span></div>
					<p class="relSearch"><span class="relTit">相关搜索：</span><a class="relWord">UI图标</a><a class="relWord">ICON</a><a class="relWord">图标游戏<a><a class="relWord">app</a><a class="relWord">banner</a><a class="relWord">logo</a><a class="relWord">游戏</a><a class="relWord">UI按钮</a><a class="relWord">icon设计</a></p>
				</div>
				<div class="showMain clearfix">
					<div class="showNavBox clearfix">
						<ul class="showNav">
							<li><a class="showMod" href="#">{:W('My/searchPostCount',array($keyword))} 文章</a></li>
							<li><a class="showMod cur" href="#">{:W('My/searchAlbumCount',array($keyword))} 专辑</a></li>
						</ul>
					</div>

				</div>
			</div>
			<!-- /搜索nav -->

			<!-- 搜索分类 -->
			<div class="searchSortBox clearfix">
				<a class="sortWord cur" href="#">全部 17</a><a class="sortWord" href="#">摄影 5</a><a class="sortWord" href="#">美妆 8</a><a class="sortWord" href="#">其它 9</a>
			</div>
			<!-- /搜索分类 -->

			<!-- 瀑布流 -->
			<div class="fallMain">
				<div class="falling clearfix">
					<ul class="fallList albumfall">
						<!-- 添加专辑 -->
						<li>
							<div class="addAlbumMain">
								<a class="albumAddBox" href="#">
									<span class="albumAdd"></span>
									<p class="albumAddTxt">添加专辑</p>
								</a>
							</div>
				
						</li>
						<!-- /添加专辑 -->
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八专辑名专辑名</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
					</ul>
					<ul class="fallList">
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
					</ul>					
					<ul class="fallList">
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
					</ul>						<ul class="fallList">
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>
								<!-- 已关注，hover变成“取消关注” -->								
								<p class="albumAtt"><a class="btnC" href="#">已关注</a></p>
							</div>						
						</li>
					</ul>						<ul class="fallList">
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
					</ul>	


				</div>
			</div>
			<!-- /瀑布流 -->

		</div>

		<!-- /main -->
		 <include file="./Public/common/openWindows.html"/>

	</div>

	
	
</body>
</html>
