<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file='./public/common/meta.html' />
</head>

<body>


	<div class="xsWrap">
		<!-- 顶导 -->
		<include file='./public/common/header.html' />
		<!-- /顶导 -->
		<!-- main -->
		<div class="mainBox clearfix">		
			<div class="colorBox">
				<ul class="cateColorList">
					<li class="colorBox photoBox">
					<a class="colorLi" href="__ROOT__/cate/1">
						<span class="xsIcon icon_photo"></span>
						<span class="xsIconTxt">摄影</span>
					</a>
					</li>
					<li class="colorBox beautyBox"><a class="colorLi" href="__ROOT__/cate/2"><span class="xsIcon icon_beauty"></span><span class="xsIconTxt">美妆服饰</span></a></li>
					<li class="colorBox foodBox"><a class="colorLi" href="__ROOT__/cate/3"><span class="xsIcon icon_food"></span><span class="xsIconTxt">美食</span></a></li>
					<li class="colorBox sportBox"><a class="colorLi" href="__ROOT__/cate/4"><span class="xsIcon icon_sport"></span><span class="xsIconTxt">运动</span></a></li>
					<li class="colorBox techBox"><a class="colorLi" href="__ROOT__/cate/5"><span class="xsIcon icon_tech"></span><span class="xsIconTxt">科技生活</span></a></li>
					<li class="midBox">
						<div class="midReg midSearch">
							<div class="midForm"><input type="text" class="midInput" placeholder="请输入关键字"><a class="btnA" href="#">搜索</a></div>
							<p class="relWords">热门搜索：<a class="serTxt">app</a><a class="serTxt">宠物</a></p>
						</div>
					</li>				
					<li class="colorBox gameBox"><a class="colorLi" href="__ROOT__/cate/6"><span class="xsIcon icon_game"></span><span class="xsIconTxt">游戏</span></a></li>
					<li class="colorBox homeBox"><a class="colorLi" href="__ROOT__/cate/7"><span class="xsIcon icon_home"></span><span class="xsIconTxt">家居设计</span></a></li>
					<li class="colorBox petBox"><a class="colorLi" href="__ROOT__/cate/8"><span class="xsIcon icon_pet"></span><span class="xsIconTxt">宠物</span></a></li>
					<li class="colorBox musicBox"><a class="colorLi" href="__ROOT__/cate/9"><span class="xsIcon icon_music"></span><span class="xsIconTxt">音乐</span></a></li>
					<li class="colorBox carBox"><a class="colorLi" href="__ROOT__/cate/10"><span class="xsIcon icon_car"></span><span class="xsIconTxt">汽车</span></a></li>



				</ul>

			</div>
		</div>

	</div>




</body>
</html>
