<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtmBox">
<head>
   
    <include file='./public/common/meta.html' />
    <style type="text/css">
    #tiles {
        text-align: center;
        list-style-type: none;
        position: relative;
        margin: 0;
        padding: 0;
    }
    #tiles li {
        width: 208px;
        background-color: #fff;
        border: solid 1px #e5e5e5;
        display: none;
        cursor: pointer;
    }
    </style>
    <script type="text/javascript" src="__PUBLIC__/js/plugins/Wookmark/jquery.wookmark.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/plugins/Wookmark/jquery.imagesloaded.js"></script>
</head>

<body>


    <div class="xsWrap">
        <!-- 顶导 -->
        <include file='./public/common/header.html' />
        <!-- /顶导 -->
        <!-- main -->
        <div class="mainBox clearfix">

            <!-- 分类nav -->
            <div class="sortsNav">
                <div class="sortsFbox clearfix">
                    <h3 class="sortsTit">{$category}</h3>
                </div>
                <div class="showMain clearfix">
                    <div class="showNavBox clearfix">
                        <ul class="showNav">
                            <li><a class="showMod" href="#">{$post_count} 文章</a>
                            </li>
                            <li><a class="showMod cur" href="#">{$album_count} 专辑</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- /分类nav -->

            <!-- 瀑布流 -->
            <div class="fallMain">
                <div class=" " id="wmain" style="position: relative;margin-top:10px;">
                    <ul id='tiles'>
                        <li>
                            <a class="albumAddBox" href="#">
                                <span class="albumAdd"></span>
                                <p class="albumAddTxt">添加专辑</p>
                            </a>
                        </li>
						<foreach name="album_list" item="vo">
                        <li>
                            <div class="albumMain">
                                <a class="albumImgBox" href="__ROOT__/album/{$vo.id}">
                                    <div class="albumP1">
                                        <img src="__PUBLIC__/images/pic1.jpg" alt="" class="albumPic1" width="200" height="252">
                                    </div>
                                    <div class="albumPO clearfix">
                                        <!-- <p class="albumP2"><img src="__PUBLIC__/images/pic3.jpg" alt="" class="albumPic2" width="60" height="60"></p>
										<p class="albumP2"><img src="__PUBLIC__/images/pic3.jpg" alt="" class="albumPic2" width="60" height="60"></p>
										<p class="albumP2"><img src="__PUBLIC__/images/pic3.jpg" alt="" class="albumPic2" width="60" height="60"></p> -->
                                    </div>
                                </a>
                            </div>
                            <div class="albumACBox clearfix">
                                <p class="albumTit">
                                    <a class="albumName" href="__ROOT__/album/{$vo.id}">{$vo.name}</a>
                                </p>
                                <p class="albumAtt"><a class="btnC" href="##" album_id='{$vo.id}'>关注</a>
                                </p>
                            </div>
                        </li>
                        </foreach>



                    </ul>


                </div>
            </div>
            <!-- /瀑布流 -->

        </div>

        <!-- /main -->

    </div>

    <!-- 弹层 -->
    <include file="./public/common/openWindows.html" />
    <!-- 弹层） -->

    <script type="text/javascript">
    <!--wookmark 瀑布流js-->
    (function($) {
    	var page_no = 2;//分页数 从第2页开始
        var category_id = {$category_id};
        var $tiles = $('#tiles'),
            $handler = $('li', $tiles),
            $main = $('#wmain'),
            $window = $(window),
            $document = $(document),
            options = {
                autoResize: true, // This will auto-update the layout when the browser window is resized.
                container: $main, // Optional, used for some extra CSS styling
                offset: 20, // Optional, the distance between grid items
                itemWidth: 210 // Optional, the width of a grid item
            };

        /**
         * 展示
         */
        function applyLayout() {
            $tiles.imagesLoaded(function() {
                // Destroy the old handler
                if ($handler.wookmarkInstance) {
                    $handler.wookmarkInstance.clear();
                }
                // Create a new layout handler.
                $handler = $('li', $tiles);
                $handler.wookmark(options);
            });
        }

        /**
         *scroll 事件
         */
        function onScroll() {
            // Check if we're within 100 pixels of the bottom edge of the broser window.
            var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
                closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);

            if (closeToBottom) {
                //AJAX载入的数据
                $.ajax({
                    url: "__ROOT__/cate/wookmarkAjax",
                    dataType: "html",
                    data:{
                    	'page_no':page_no,
                    	'category_id':category_id
                    },
                    success: function(html) {                  	
                    	if(html!=null&&html!=""){
                    		page_no++;
                    		//把新数据追加到对象中
                       		$tiles.append(html);
                        	//重新展示
                        	applyLayout();
                    	}
                        
                    }
                });

                
            }
        };


        applyLayout();


        $window.bind('scroll.wookmark', onScroll);

        $("a[class=btnC]").on("click",function(){
        	var isLogin = ($(".unLogList").length <=0);
        	if (!isLogin) {
        		alert("请先登录，如果没有帐号请注册帐号。");
        		return;
        	};
        	//alert($(this).attr("album_id"));
        });

    })(jQuery);
    </script>
</body>

</html>
