<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtmBox">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<include file='./public/common/meta.html' />
<script type="text/javascript" src="__PUBLIC__/js/plugins/Wookmark/jquery.wookmark.js"></script>
</head>

<body>


	<div class="xsWrap">
		<!-- 顶导 -->
		<include file='./public/common/header.html' />
		<!-- /顶导 -->
		<!-- main -->
		<div class="mainBox clearfix">

			<!-- 分类nav -->
			<div class="sortsNav">
				<div class="sortsFbox clearfix">
					<h3 class="sortsTit">{$category}</h3>
				</div>
				<div class="showMain clearfix">
					<div class="showNavBox clearfix">
						<ul class="showNav">
							<li><a class="showMod" href="#">{$post_count} 文章</a></li>
							<li><a class="showMod cur" href="#">{$album_count} 专辑</a></li>
						</ul>
					</div>

				</div>
			</div>
			<!-- /分类nav -->

			<!-- 瀑布流 -->
			<div class="fallMain">
				<div class=" " id="wmain">
					<ul class="" id='title' style="list-style-type: none;position: relative;margin: 0;padding: 0;">
						<!-- 添加专辑 -->
						<li>
							<div class="addAlbumMain">
								<a class="albumAddBox" href="#">
									<span class="albumAdd"></span>
									<p class="albumAddTxt">添加专辑</p>
								</a>
							</div>
				
						</li>
						<!-- /添加专辑 -->
						
			        <!-- These are our grid blocks -->
			        <li><img src="../sample-images/image_1.jpg" width="200" height="283"><p>1</p></li>
        			<li><img src="../sample-images/image_1.jpg" width="200" height="283"><p>1</p></li>
        			<li><img src="../sample-images/image_1.jpg" width="200" height="283"><p>1</p></li>
        			<li><img src="../sample-images/image_1.jpg" width="200" height="283"><p>1</p></li>
        			<li><img src="../sample-images/image_1.jpg" width="200" height="283"><p>1</p></li>
        			<li><img src="../sample-images/image_1.jpg" width="200" height="283"><p>1</p></li>
      				<li><img src="../sample-images/image_1.jpg" width="200" height="283"><p>1</p></li>
      				<li><img src="../sample-images/image_1.jpg" width="200" height="283"><p>1</p></li>
					</ul>
					

				</div>
			</div>
			<!-- /瀑布流 -->

		</div>

		<!-- /main -->

	</div>

	<!-- 弹层 -->
	<include file="./public/common/openWindows.html" />
	<!-- 弹层） -->

	<script type="text/javascript">
		(function ($){
	      var handler = $('#title li');

	      handler.wookmark({
	          // Prepare layout options.
	          autoResize: true, // This will auto-update the layout when the browser window is resized.
	          container: $('#wmain'), // Optional, used for some extra CSS styling
	          offset: 5, // Optional, the distance between grid items
	          outerOffset: 10, // Optional, the distance to the containers border
	          itemWidth: 210 // Optional, the width of a grid item
	      });

	      
    })(jQuery);
	</script>
</body>
</html>
