<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtmBox">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<include file='./public/common/meta.html' />
</head>

<body>


	<div class="xsWrap">
		<!-- 顶导 -->
		<include file='./public/common/header.html' />
		<!-- /顶导 -->
		<!-- main -->
		<div class="mainBox clearfix">

			<!-- 分类nav -->
			<div class="sortsNav">
				<div class="sortsFbox clearfix">
					<h3 class="sortsTit">摄影</h3>
				</div>
				<div class="showMain clearfix">
					<div class="showNavBox clearfix">
						<ul class="showNav">
							<li><a class="showMod" href="#">200 文章</a></li>
							<li><a class="showMod cur" href="#">200 专辑</a></li>
						</ul>
					</div>

				</div>
			</div>
			<!-- /分类nav -->

			<!-- 瀑布流 -->
			<div class="fallMain">
				<div class="falling clearfix">
					<ul class="fallList albumfall">
						<!-- 添加专辑 -->
						<li>
							<div class="addAlbumMain">
								<a class="albumAddBox" href="#">
									<span class="albumAdd"></span>
									<p class="albumAddTxt">添加专辑</p>
								</a>
							</div>
				
						</li>
						<!-- /添加专辑 -->
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八专辑名专辑名</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
					</ul>
					<ul class="fallList">
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
					</ul>					
					<ul class="fallList">
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
					</ul>						<ul class="fallList">
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>
								<!-- 已关注，hover变成“取消关注” -->								
								<p class="albumAtt"><a class="btnC" href="#">已关注</a></p>
							</div>						
						</li>
					</ul>						<ul class="fallList">
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
						<li>
							<div class="albumMain">
								<a class="albumImgBox" href="#">
									<div class="albumP1"><img src="../images/pic1.jpg" alt="" class="albumPic1"></div>
									<div class="albumPO clearfix">
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
										<p class="albumP2"><img src="../images/pic3.jpg" alt="" class="albumPic2"></p>
									</div>
								</a>
							</div>
							<div class="albumACBox clearfix">
								<p class="albumTit">
									<a class="albumName" href="#">一二三四五六七八</a>
								</p>								
								<p class="albumAtt"><a class="btnC" href="#">关注</a></p>
							</div>						
						</li>
					</ul>	


				</div>
			</div>
			<!-- /瀑布流 -->

		</div>

		<!-- /main -->

	</div>

	<!-- 弹层蒙层（黑色半透明） -->
	<div class="mask" style="display:none;"></div>
	<!-- 弹层蒙层（黑色半透明） -->

	<!-- 创建专辑弹层 -->
	<div class="xsWLayer addAlbumLayer" style="display:none; top:300px; left:300px;">
		<a class="closeBtn"><span class="xsIcon icon_close"></span></a>
		<div class="WLayerMain">
			<p class="WLayerTit">创建专辑</p>
			<div class="addAForm">
				<dl class="clearfix">
					<dt class="formTit">专辑标题</dt>
					<dd class="formInputBox">
						<p class="formInput"><input type="text" class="layInput"></p>
						<p class="formTip" style="visibility:hidden;"><span class="xsIcon icon_wrong"></span>请输入专辑名</p>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="formTit">专辑分类</dt>
					<dd class="formInputBox">
						<p class="formInput">
							<select class="layInput laysel">
								<option>选择分类</option>
							</select>
						</p>
						<p class="formTip"><span class="xsIcon icon_wrong"></span>请选择分类</p>
					</dd>
				</dl>
				<p class="formBtn"><a class="btnD" href="#">创建画板</a></p>
			</div>

		</div>

	</div>

	<!-- /创建专辑弹层 -->
</body>
</html>
