<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtmBox">
<head>
	<include file='./Public/common/meta.html' />
	 <script type="text/javascript" src="__PUBLIC__/js/plugins/Wookmark/jquery.wookmark.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/plugins/Wookmark/jquery.imagesloaded.js"></script>
</head>

<body>


	<div class="xsWrap">
		<!-- 顶导 -->
		<include file='./Public/common/header.html' />
		<!-- /顶导 -->
		<!-- main -->
		<div class="mainBox clearfix">
			<!-- 个人信息 -->
			<input id="uid" type="hidden" value="{$uid}">
			<div class="userMain clearfix">
				<div class="userInfoBox clearfix">
					<div class="userImgBox"><a class="userImg"><img src="__PUBLIC__/{$person.header_img}" alt=""  onerror="javascript:this.src='__PUBLIC__/images/user_default.png';" ></a></div>
					<div class="userDetaiBox">
						<p class="userName"><a href="">{$person.aliasname}</a></p>
						<p class="deBox"><a class="sendMsg" href="javascript:open_msg('{$person.username}');"><span class="xsIcon icon_primsg"></span><span class="iconTxt">发私信</span></a></p>
						<p class="deBox"><a class="addAtt" href="#"><span class="xsIcon icon_addatt"></span><span class="iconTxt">加关注</span></a></p>
					</div>
					<div class="userDataBox">
						<!-- 数字超过10000，用数字+“万”字表示，保留一位小数 -->
						<p class="userAttBox">
							<a class="dataBox" href="#">
								<span class="userNum">1.1万</span>
								<span class="userTxt">关注</span>
							</a>
						</p>
						<p class="userFansBox">
							<a class="dataBox" href="#">
								<span class="userNum">1000</span>
								<span class="userTxt">粉丝</span>
							</a>
						</p>						
					</div>
				</div>
				<div class="nearCome clearfix">
					<p class="nearTit">最近来访者</p>
					<ul class="nearList">
						<li><a class="nearImg" href="#"><img src="../images/userL.jpg" alt=""></a></li>
						<li><a class="nearImg" href="#"><img src="../images/userL.jpg" alt=""></a></li>
						<li><a class="nearImg" href="#"><img src="../images/userL.jpg" alt=""></a></li>
						<li><a class="nearImg" href="#"><img src="../images/userL.jpg" alt=""></a></li>
						<li><a class="nearImg" href="#"><img src="../images/userL.jpg" alt=""></a></li>
						<li><a class="nearImg" href="#"><img src="../images/userL.jpg" alt=""></a></li>
						<li><a class="nearImg" href="#"><img src="../images/userL.jpg" alt=""></a></li>
						<li><a class="nearImg" href="#"><img src="../images/userL.jpg" alt=""></a></li>						
					</ul>

				</div>				
			</div>
			<!-- /个人信息 -->

			<div class="showMain clearfix">
				<div class="showNavBox clearfix">
					<ul class="showNav">
						<li><a class="showMod" href="__ROOT__/admin/personal/view.shtml?id={$uid}">{:W('Home/My/userPostFavoritesCount',array($uid,1))} 收藏</a></li>
						<li><a class="showMod cur" href="#">{:W('Home/My/albumCount',array($uid))} 专辑</a></li>
						<li><a class="showMod" href="__ROOT__/admin/personal/view.shtml?id={$uid}&type=zhan">{:W('Home/My/userPostFavoritesCount',array($uid,2))} 赞</a></li>
					</ul>
					<div class="showSear">
						<div class="navSearBox"><input type="text" placeholder="请输入关键字" class="navSearInput"><span class="xsIcon icon_search"></span></div>
					</div>
				</div>

			</div>



			<!-- 瀑布流 -->
			<div class="fallMain">
                <div class=" " id="wmain" style="position: relative;margin-top:10px;">
                    <ul class="fallList blogfall" id='tiles'>
                        				
                    </ul>


                </div>
            </div>
			<!-- /瀑布流 -->

		</div>

		<!-- /main -->

	</div>

	<include file='./Public/common/openWindows.html' />



<script type="text/javascript">
	<!--wookmark 瀑布流js-->
    (function($) {
    	var page_no = 1;//分页数 从第1页开始
        var user_id = {$uid};
        var $tiles = $('#tiles'),
            $handler = $('li', $tiles),
            $main = $('#wmain'),
            $window = $(window),
            $document = $(document),
            options = {
                autoResize: true, // This will auto-update the layout when the browser window is resized.
                container: $main, // Optional, used for some extra CSS styling
                offset: 20, // Optional, the distance between grid items
                itemWidth: 210 // Optional, the width of a grid item
            };

        /**
         * 展示
         */
        function applyLayout() {
            $tiles.imagesLoaded(function() {
                // Destroy the old handler
                if ($handler.wookmarkInstance) {
                    $handler.wookmarkInstance.clear();
                }
                // Create a new layout handler.
                $handler = $('li', $tiles);
                $handler.wookmark(options);
            });
        }

        function display(){
        	$.ajax({
                    url: "__ROOT__/cate/wookmarkByUserIdAjax",
                    dataType: "html",
                    data:{
                    	
                    	'page_no':page_no,
                    	'user_id':user_id
                    },
                    success: function(html) {                  	
                    	if(html!=null&&html!=""){
                    		page_no++;
                    		//把新数据追加到对象中
                       		$tiles.append(html);
                        	//重新展示
                        	applyLayout();

                            //重新绑定 赞，收藏，评论事件
                            bindEvent();
                    	}
                        
                    }
                });
        }
        /**
         *scroll 事件
         */
        function onScroll() {
            // Check if we're within 100 pixels of the bottom edge of the broser window.
            var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
                closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);
            if (closeToBottom) {
                //AJAX载入的数据
                display();               
            }
        };


        display();
        bindEvent();

        $window.bind('scroll.wookmark', onScroll);

        

       function bindEvent(){

            $("a[class=btnC]").on("click",function(){
            var isLogin = ($(".unLogList").length <=0);
            if (!isLogin) {
                alert("请先登录，如果没有帐号请注册帐号。");
                return;
            };
            var album_id = $(this).attr("album_id");
           
            $.ajax({
                    url: "__ROOT__/album/favorites",                    
                    dataType: "json",
                    data:{
                        'album_id':album_id                        
                    },
                    success: function(data) {
                        alert(data.success);                                           
                        if(data.success){
                            alert("关注成功！");
                        }
                    }
                });
        });
       }

    })(jQuery)
</script>
</body>
</html>
