<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtmBox">
<head>
	<include file='./Public/common/meta.html' />
	<script type="text/javascript" src="__PUBLIC__/js/jquery.pagination.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/mustache.js"></script>
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/pagination.css"/>
<title></title>
</head>

<body>


	<div class="xsWrap">
		<!-- 顶导 -->
		<include file='./Public/common/header.html' />
		<!-- /顶导 -->
		<!-- main -->
		<div class="mainBox clearfix">
			<div class="xsNLayout">
				<div class="xsBorBox">
					<div class="xsTabBox">
						<ul class="xsTab clearfix">
							<li class="tabList"><a href="#" class="tabTxt cur">私信</a></li>
							<li class="tabList"><a href="#" class="tabTxt">评论</a></li>
							<li class="tabList"><a href="#" class="tabTxt">动态</a></li>						
						</ul>
					</div>

					<div class="noticeWBox">
						<!-- 每页10条 -->
						<ul id="pageList" class="noticeWList">
						<foreach name="messages" item="msg" >
							<li>
								<div class="noUserImg"><a class="userPic" href="#"><img src="__PUBLIC__/{$msg.header_img}" alt="" class="userImg"></a></div>

								<div class="notiDetail">
									<p class="notiUser"><a class="notiName" href="#">{$msg.aliasname}</a><span class="notiDate">{$msg.create_date}</span></p>
									<p class="notiCon">{$msg.content}</p>
								</div>

							</li>
						</foreach>
						</ul>

						<div class="xsPageBox2" style="position:relative;">
							<div id="pagebar" class="xsPage" style="display:none;">
					        	<a href="">上一页</a>
					        	<a href="" class="cur">1</a>
					        	<a href="">2</a>
					        	<a href="">3</a>
					        	<a href="">下一页</a>
					        </div>
					        
					        <div id="Pagination" class="pagination" style="margin:5px auto;"></div>
					    	
						</div>

					</div>


				</div>
			</div>
		</div>

		<!-- /main -->

	</div>




</body>
</html>
<script type="text/javascript">
	$(function(){
		initPage();
	});
	var _size = 2;
	function initPage(){
		var pageIndex = 0;     //页面索引初始值  
		var pageSize = _size;     //每页显示条数初始化，修改显示条数，修改这里即可  
		var optInit = {
			current_page : 0,
			items_per_page : pageSize,
			num_display_entries : 5,
			num_edge_entries : 1,
			prev_text : "上一页",
			next_text : "下一页",
			callback : PageCallback
		}
		$("#Pagination").pagination({$total.c}, optInit);
	}
	
	function PageCallback(index) {
		var bean = new Object();
		bean.start = index*_size;
		bean.limit = _size;
		
        Common.ajax("__ROOT__/admin/personal/getMsgFragment.shtml", bean, function(data){			
			$("#pageList").html(data);
		},"html"); 
    }
</script>