<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtmBox">
<head>
	<include file='./Public/common/meta.html' />
<title></title>
</head>

<body>


	<div class="xsWrap">
		<!-- 顶导 -->
		<include file='./Public/common/header.html' />
		<!-- /顶导 -->
		<!-- main -->
		<div class="mainBox clearfix">
			<div class="xsNLayout">
				<div class="xsBorBox">
					<div class="xsTabBox">
						<ul class="xsTab clearfix">
							<li class="tabList"><a href="#" class="tabTxt cur">全部消息</a></li>
							<li class="tabList"><a href="#" class="tabTxt">评论</a></li>
							<li class="tabList"><a href="#" class="tabTxt">动态</a></li>						
						</ul>
					</div>

					<div class="noticeWBox">
						<!-- 每页10条 -->
						<ul class="noticeWList">
							<!-- 动态例子 -->
							<li>
								<div class="noUserImg"><a class="userPic" href="#"><img src="../images/userL.jpg" alt="" class="userImg"></a></div>

								<div class="notiDetail">
									<p class="notiUser"><a class="notiName" href="#">用户昵称</a><span class="notiDate">2014-06-20 13:14:10</span></p>
									<p class="notiCon">转采了你的专辑<a class="notiAl" href="#">小小花蛤</a>到<a class="notiAl" href="#">另外一个专辑</a></p>
								</div>

							</li>
							<!-- /动态例子 -->
							<!-- 评论例子 -->
							<li>
								<div class="noUserImg"><a class="userPic" href="#"><img src="../images/userL.jpg" alt="" class="userImg"></a></div>

								<div class="notiDetail">
									<p class="notiUser"><a class="notiName" href="#">用户昵称</a>评论了<a class="notiAl" href="#">博客名</a><span class="notiDate">2014-06-20 13:14:10</span></p>
									<p class="notiCon">哈哈哈哈哈！</p>
								</div>

							</li>
							<!-- /评论例子 -->
							<li>
								<div class="noUserImg"><a class="userPic" href="#"><img src="../images/userL.jpg" alt="" class="userImg"></a></div>

								<div class="notiDetail">
									<p class="notiUser"><a class="notiName" href="#">用户昵称</a><span class="notiDate">2014-06-20 13:14:10</span></p>
									<p class="notiCon">转采了你的专辑<a class="notiAl" href="#">小小花蛤</a>到<a class="notiAl" href="#">另外一个专辑</a></p>
								</div>

							</li>
							<li>
								<div class="noUserImg"><a class="userPic" href="#"><img src="../images/userL.jpg" alt="" class="userImg"></a></div>

								<div class="notiDetail">
									<p class="notiUser"><a class="notiName" href="#">用户昵称</a><span class="notiDate">2014-06-20 13:14:10</span></p>
									<p class="notiCon">转采了你的专辑<a class="notiAl" href="#">小小花蛤</a>到<a class="notiAl" href="#">另外一个专辑</a></p>
								</div>

							</li>


						</ul>

						<div class="xsPageBox">
							<div class="xsPage">
					        	<a href="">上一页</a>
					        	<a href="" class="cur">1</a>
					        	<a href="">2</a>
					        	<a href="">3</a>
					        	<a href="">下一页</a>
					        </div>
						</div>

					</div>


				</div>
			</div>
		</div>

		<!-- /main -->

	</div>




</body>
</html>
